*{
    margin:0;
}

header{
    background: white;
    height: 112px;
}

.caja_log{
    display: flex;
    justify-content: space-around;
    width: 24%;
    position: absolute;
    top: 25px;
    right: 25px;
}

/* Estilo para el boton cerrar cesion */
/* =============================================== */
.caja_log button{
    font-family: 'Muli', sans-serif;
    background: none;
    color:rgb(78, 78, 78);
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    border-style: none;
    outline: none; /*Para que no aparezca el molesto cuadro azul al hacer click*/
}

.caja_log button:active{
    color:rgb(252, 0, 0);
}

.caja_log button:hover{
    cursor: pointer;
    transition: 0.3s;
}

/* =============================================== */

.link_login{
    font-family: 'Muli', sans-serif;
    list-style: none;
    font-size: 15px;
    padding: 10px;
}

.link_login a:visited{
    color:rgb(78, 78, 78) 
}

.link_login a:link{
    color:rgb(78, 78, 78) 
}

.link_login a:active{
    color:rgb(252, 0, 0);
}

.textbox{
    background: rgb(247, 247, 247);
    border-radius: 6px;
    border:3px solid rgb(28, 72, 83,0.6);
    font-family: 'Muli', sans-serif;
    width: 30%;
    position: absolute;
    left: 38%;
    top:50px;
    padding: 5px;
}

.logo{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:2%;
    left:2%;
}

.logo_title .m{
    color:rgb(0, 199, 199);
    font-family: 'Gugi', cursive;
    font-size: 50px;
 
}

.logo_title{
    color:rgb(58, 58, 58);
    font-family: 'Gugi', cursive;
    font-size: 50px;
    margin:20px 0;
}

.logo img{
    width: 100px;
    height:80px;
}

/*=============================MENU DE NAVEGACION==============================*/

.menu_nav{ 
    height: 40px;
    background: rgb(133, 241, 237);
}

.nav{
    height:100%;
    font-family: 'Muli', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav li{
    width: 20%;
}

.nav li a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(54, 54, 54);
}

.nav li a:hover{
    color:rgb(133, 241, 237);
    background: white;
}

.nav li a:active{
    color:rgb(0, 0, 0);
    background: rgb(138, 138, 138);
}
