.main{
    height: 2550px;
}

.cont_img{
    height: 550px;
}

.cont_img figure{
    height: 100%;
    width: 50%;
    float: left;
}

.cont_img figure img{
    height: 550px;
    width: 100%;
}

.slider_description{
    height: 470px;
    width:44%;
    float: right;
    padding: 40px 3%;
}

.slider_description h1{
    font-size: 5em;
    font-family: 'Black Han Sans', sans-serif;
    color: #178538;
    padding: 5px 0px;
}

.slider_description h2{
    font-size: 3em;
    font-family: 'Muli', sans-serif;
    color: #690d12;
    padding: 5px 0px;
}

.slider_description p{
    font-size: 1em;
    font-family: 'Muli', sans-serif;
    color: #056772;
}

/*=======================CONTENEDOR 2===============================*/

.contenedor2{
    height: 1000px;
    color: rgb(0, 0, 0);
}

.contenedor2 h1{
    background: #1843bb;
    text-align: center;
    padding: 8px 18px;
    font-family: 'Muli', sans-serif;
    font-size: 60px;
}

.contenedor2 a{
    text-decoration: none;
    color: #000000;

}

.images_desp{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.images_desp figure{
    margin: 0px 20px;
    width: 25%;
    padding: 15px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;

}

.images_desp figure:hover{
   -webkit-box-shadow: 0px 7px 16px 5px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 7px 16px 5px rgba(0,0,0,0.44);
    box-shadow: 0px 7px 16px 5px rgba(0,0,0,0.44);
    transform: translate(0px, -5px);

}

.images_desp figure img{
    height: 200px;
    width: 100%;
    margin:0 auto;
}


.images_desp figure p{
    width: 100%;
    text-align: center;
    font-family: 'Muli', sans-serif;
    margin-top: 10px;
    margin-bottom:40px;
    padding: 20px 0px;
    border-top: 1px solid rgb(161, 161, 161);
    border-bottom: 1px solid rgb(161, 161, 161);
}

/*===========================CONTENEDOR 3===========================*/

.contenedor3{
    height: 1000px;
    color: rgb(0, 0, 0);
}

.contenedor3 h1{
    background: #1843bb;
    text-align: center;
    padding: 8px 18px;
    font-family: 'Muli', sans-serif;
    font-size: 60px;
}

.contenedor3 a{
    text-decoration: none;
    color: #000000;

}

/*===========================FOOTER===========================*/

footer{
    background: rgb(155, 155, 155);
    display: flex;
    justify-content: flex-start;
    padding: 30px 30px 30px 60px;
    font-family: 'Muli', sans-serif;
    position: relative;

}

footer ul{

    list-style: none;
    margin: 0 30px;
    padding: 0;

}


footer ul li{

    margin: 10px 0px;
}

footer ul li a{

    text-decoration: none;
    color: rgb(0, 0, 0);
}

.redes{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.redes figure{
    margin: 10px;
}