body{
    background: rgb(202, 202, 202);
}

.contenido_user h1{
    text-align: center;
    margin: 10px 30px -20px 30px;
    padding: 10px;
}

.contenido_user p{
    text-align: center;
    padding: 10px;
    margin: 30px;
}

/* Estilos para la informacion y la foto del usuario */

.datos_usuario{
    /* background: rgb(167, 167, 167); */
    position: relative;
    bottom:-30px;
    width: 65%;
    height: 350px;
    margin: 0 auto;
    padding: 10px;

}

.conten_foto{
    /* background: green; */
    width: 35%;
    float: left;
    height: 80%;

}

.conten_foto #foto{

    height: 100%;

}

.conten_foto #foto img{
    width: 100%;
    height: 100%;
    border-radius: 3%;
}


.tabla_datos{
float: right;
width: 55%;
height: 80%;
margin: 0 2%;
border-collapse: collapse;
border: 4px solid black;
}

.tabla_datos tr {
    text-align: center;
}

.tabla_datos th{
    padding: 5px;
}

.tabla_datos tr td input{
    margin:5px 10px;
    padding: 6px;
    border:1px solid rgb(136, 136, 136);
    border-radius: 3px;
    outline: none;
    font-size: 17px;
}

#botones{
    /* background: green; */
 
    padding: 10px 0; 
    text-align: center;
    clear: both;
}

#botones button{
    color: rgb(180, 180, 180);
    font-size: 20px;
    background: rgb(13, 75, 94);
    padding: 8px 20px;
    outline: none;
    border-radius: 8px;
    text-decoration: none;
}


/* ================================================estilo de boton de subir foto========================== */

#file-input {
    visibility: hidden;
    width: 0;
    position: relative;
  }
  #file-input::before {
    content: 'Selecc. foto';
    display: inline-block;
    background: -webkit-linear-gradient(top, #e3e3e3, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    visibility: visible;
    position: absolute;
  }
  #file-input:hover::before {
    border-color: black;
  }
  #file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }