body{
    background: rgb(202, 202, 202);
}


/* Titulo del contenido */
.contenido_user .titulo_PU{
    margin: 10px 30px -20px 30px;
    padding: 10px;
}

.User_cont1_p{
    padding: 10px;
    margin: 30px;
}