
/*
Titulo
*/

.titulo_MC{
    margin: 10px 30px -20px 30px;
    padding: 10px;
}



/*
Tarjetas de cursos
*/
.images_desp{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.images_desp figure{
    margin: 0px 4px;
    width: 10%;
    padding: 8px 15px;
}

.images_desp figure img:hover{
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.88);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.88);
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.88);
     transform: translate(0px, -5px);
     transition: 0.5s;
 
 }
 
 .images_desp figure img{
     height: 100px;
     width: 100%;
     margin:0 auto;
     border-radius: 25%;

 }
 

 /*
 Estilos personalizados solamente para la pagina Mis cursos
 */

.User_cont1{
    background: rgb(153, 153, 153);
}

.User_cont1 .User_cont1__block h2{
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}